/* TIMETABLE STYLE */
/* General Table settings */
.gcwt-table #timetable 
{
	/*table-layout: fixed;*/
	width: 100%; /* This is table width, it can't get too small though */
	margin: 0px; /* The distance from top and left */
	border-collapse: collapse;
	border: 1px solid #333; /* Outer border of the table */
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	/* color: blue; */
	background-color: transparent; /* Background for all table (except left col and top row) */
}
/* Data cells style, the ones that are empty or contain events */
.gcwt-table #timetable td
{
	vertical-align: middle;
	width: 100px;
	font-size: 0.9em;
	line-height:130%;
	border: 1px dotted #666; /* border of each cell */
	padding: 0.3em; 			/* padding of text inside the cell */
	text-align: center;		/* text align inside the cell */
	color: #fff; /* Text color of all events*/
}
/* Common settings for table headers: leftmost column and topmost row*/
/* Note: they are overriden by individual settings with scope=col and scope=row, look bellow */
.gcwt-table #timetable th
{
  border: 1px dotted #666;
  padding: 0.3em;
  text-align: center;
}

/* Common settings for table header: weekday names and leftmost cells*/
/* Note: if you want to format only the leftmost topmost cell. Then make changes here and override them in  th+th[scope=col] section */
.gcwt-table #timetable th[scope=col]
{
	color: #000;
	vertical-align: middle;
	background-color: #6E6E6E;
	font-size: 0.9em;
	border-bottom: 2px solid #333;
	border-right: 2px solid #333;
	/*text-transform: uppercase;*/
}
/* Cells with weekays only. Excluding leftmost */
.gcwt-table #timetable th+th[scope=col]
{
	/*width: 30%;*/
	padding: 0.1em;
	font-size: 0.9em;
	text-transform: uppercase;
	color: #fff;
	background-color: #6E6E6E;
	border-right: 2px solid #666;
}
/* Left column (that includes times) */
.gcwt-table #timetable th[scope=row] 
{
	width: 1%;
	white-space : nowrap;
	vertical-align: top;
	color: #FFFFFF;
	background-color: #424242;
	border-right: 2px solid #333;
}

/* Hour numbers style when hoverred*/
.gcwt-table #timetable tr:hover th[scope=row]
{
  background-color: lightgreen;
  color: #000;
}
/* Data cells style when hoverred*/
.gcwt-table #timetable tr:hover td
{
  background-color: #22aa00;
  color: #000;
}

/* Caption style */
.gcwt-table #timetable caption
{
  
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0 0;
}

/*alternating everysecond line, not implemented
.gcwt-table #timetable tr.alt th, .gcwt-table #timetable tr.alt td
{
  color: #2a4763;
}*/
